/* Alterar a cor do cabeçalho */
.wy-side-nav-search,
.wy-nav-top {
    background: rgb(73, 107, 95);
}

body {
    font-family: 'Your Font', sans-serif;
}

/* Estilização de tabelas */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.wy-nav-side {
    background: #634040 !important;
}